@import molecules/textos
@import organisms/habilidades


header
  min-height: 335px
  margin: 0 0 25px

  background:
    image: url('../imagens/sobre.jpg')
    position: top center
    repeat: no-repeat
    color: $vermelho
    size: cover



.botao
  display: table
  margin: 0 auto
  clear: both
